name: "Deploy Theja Astro backend on VPS"

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1
      with:
        host: ${{secrets.VPS_HOST}} 
        username: ${{secrets.VPS_USERS}}
        key: ${{secrets.VPS_SSH_KEY}}
        scripts: |
          cd ${{secrets.VPS_PATH_NAME}}
          git pull origin main
          npm install
          pm2 restart thejaastro